*{
	box-sizing: border-box;
}
body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
a {
	text-decoration: none;
	color: black;
}
.wrapper {
	background-color: #ffffff;
	width: 78.5%;
	margin: 0 auto;
	padding: 50px 48px 10px 45px;
	box-shadow: -5px 0 10px 1px #dbdbdb, 5px 0 10px 1px #dbdbdb;
}	
.wrapper h1 {
	font-family: 'Molengo', Arial, sans-serif;
	font-size: 54px;
	margin-bottom: 40px;
	line-height: 40px;
}	
.menu {
	background-color: #575757;
}
.menu li {
	float: left;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	height: 40px;
	margin-right: 39px;
}
.menu a {
	font-size: 14px;
	color: white;
	display: block;
	padding: 11px 24px;;
}
.menu li:hover {
	background-color: #474747;
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	transition: all 0.2s;
}
/*submenu*/



/* content */
.main-wrapper {
	margin: 40px 0 60px 0;
}
.left-menu {
	float: left;
	width: 25%;
}
.left-menu ul {
	border: 1px solid #e1e1e1;
}
.left-menu li {
    border-bottom: 1px solid #e1e1e1; 
    height: 40px;
    padding: 13px 22px;
}
.left-menu li:last-child {
	border-bottom: none;
}
.left-menu li:hover {
	padding-left: 36px;
	transition: all 0.3s;
	background-color: #f9f9f9;
}
.content {
	float: right;
	width: 70%;
}
.content img {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.content p {
	margin-top: 34px;
  line-height: 21px;
	padding: 0 25px;
}
/*footer*/
.footer {
	background-color: #e1e1e1;
}
.footer li {
	float: left;
	padding: 13px 33px;
	margin-right: 26px;
}
.footer li:last-child {
	float: right;
	padding: 13px 0px;
}
.footer a:hover {
	text-decoration: underline;
}