
body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
}
.main_container {
	background-color: #ffffff;
	width: 1060px;
	margin: auto;
}
h1 {
	font-family: 'Molengo', Arial, sans-serif;
	font-size: 52px;
	padding: 44px 0px 34px 44px;
}	
.menu {
	background-color: #575757;
	width: 966px;
	margin: auto;
	margin-bottom: 40px;
}
.menu li {
	display: inline-block;
	width: 96px;
	margin-right: 46px;
}
.menu a {
	font-size: 14px;
	display: block;
	text-decoration: none;
	color: white;
	padding: 13px 0px 13px 20px;
}
.menu li:hover {
	background-color: #474747;
}
.page-container {
	width: 966px;
	margin: auto;
}
.left-container {
	width: 240px;
	margin-right: 45px;
	float: left;
}
.left-container li {
	border: 1px solid #807e7e;
	border-bottom: none;
}
.left-container li:last-child {
	border-bottom: 1px solid #807e7e;
}
.left-container li:hover {
	background-color: #f9f9f9;
	padding-left: 12px;
}
.left-container a{
	display: block;
	text-decoration: none;
	color: #807e7e;
	padding: 15px;
}
.right-container {
	width: 676px;
	float: right;
}
.right-container p {
	padding: 30px 22px 0px 22px;
	line-height: 20px;
}
.clearfix {
	height: 0;
	clear: both;
}
.footer {
	background-color: #f9f9f9;
	width: 966px;
	height: 40px;
	margin: auto;
	margin-top: 55px;
	margin-bottom: 60px; 
}
.footer a {
	padding-left: 24px;
	padding-right: 65px;
	padding-top: 15px;
	text-decoration: none;
	display: inline-block;
}
.footer a:hover {
	text-decoration: underline;
}	
