*{
	box-sizing: border-box;
}
body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
a {
	text-decoration: none;
	color: black;
}
.wrapper {
	background-color: #ffffff;
	width: 1060px;
	margin: 0 auto;
	padding: 50px 50px 50px 60px;
	box-shadow: -5px 0 10px 1px #dbdbdb, 5px 0 10px 1px #dbdbdb;
}	
.wrapper h1 {
	font-family: 'Molengo', Arial, sans-serif;
	font-size: 52px;
	margin-bottom: 40px;
	line-height: 40px;
}	
.menu {
	background-color: #575757;
}
.menu li {
	float: left;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	height: 40px;
	margin-right: 35px;
}
.menu a {
	font-size: 14px;
	color: white;
	display: block;
	padding: 15px 24px;;
}
.menu li:hover {
	background-color: #474747;
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	transition: all 0.2s;
}


/*submenu*/



/* content */
.main-wrapper {
	margin: 40px 0 60px 0;
}
.left-menu {
	float: left;
	width: 24%;
}
.left-menu ul {
	border: 1px solid #e1e1e1;
}
.left-menu li {
    border-bottom: 1px solid #e1e1e1; 
    height: 40px;
    padding: 15px 24px;
}
.left-menu li:last-child {
	border-bottom: none;
}
.left-menu li:hover {
	padding-left: 36px;
	transition: all 0.3s;
	background-color: #f9f9f9;
}
.content {
	float: right;
	width: 70%;
}
.content img {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.content p {
	margin-top: 40px;
	padding: 0 25px;
}
.footer {
	background-color: #e1e1e1;
}
.footer li {
	float: left;
	padding: 15px 24px;
	margin-right: 45px;
}
.footer li:last-child {
	float: right;
	padding: 15px 25px 15px 0;
}
.footer a:hover {
	text-decoration: underline;
}
/*.page-container {
	width: 966px;
	margin: auto;
}
.left-container {
	width: 240px;
	margin-right: 45px;
	float: left;
}
.left-container li {
	border: 1px solid #807e7e;
	border-bottom: none;
}
.left-container li:last-child {
	border-bottom: 1px solid #807e7e;
}
.left-container li:hover {
	background-color: #f9f9f9;
	padding-left: 12px;
}
.left-container a{
	display: block;
	text-decoration: none;
	color: #807e7e;
	padding: 15px;
}
.right-container {
	width: 676px;
	float: right;
}
.right-container p {
	padding: 30px 22px 0px 22px;
	line-height: 20px;
}
.clearfix {
	height: 0;
	clear: both;
}
.footer {
	background-color: #f9f9f9;
	width: 966px;
	height: 40px;
	margin: auto;
	margin-top: 55px;
	margin-bottom: 60px; 
}
.footer a {
	padding-left: 24px;
	padding-right: 65px;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}	